.sidebar-nav {
    list-style: none;
    padding: 10px;
    color: #FEFFFF;
    text-align: center;
    font-size: 17px;
}

h4 {
    text-align: center;
}

.sidebar-nav a {
    color: #FEFFFF;
    text-decoration: underline;
}

.col-sm-2 {
    background-color: rgb(231, 132, 75);
    border-radius: 10px;
}

.jumbotron {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(179, 11, 20);
    color: #FEFFFF;
}

.jumbotron h1 {
    font-size: 60px;
}

html body {
    background-image: url("basebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.col-sm-10 {
    background-color: rgb(214, 211, 207);
    border-radius: 10px;
    padding: 20px;
    font-size: 19px;
}

.col-sm-10 h4 {
    text-align: center;
    font-weight: bold;
}

.welcome {
    text-align: center;
}

#topimage {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 460px;
    max-height: 190px;
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

#articletext {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(240, 237, 235);
    margin: 20px;
    text-align: justify;
    text-indent: 70px;
}

#addart {
    font-size: 19px;
    padding-left: 0px
}