{% extends 'base_generic.html' %}

{% block content %}
<div class="welcome">
{% if user.is_authenticated %}
    <h4><strong>Welcome, {{user}}!</strong></h4>
{% else %}
    <h4><strong>Welcome!</strong></h4>
    <p>Please login or sign up to continue.</p>
{% endif %}
</div>
<br>
{% if user.is_authenticated %}
        <p>Updated feeds: </p>
    <ul>
    {% for feeditem in isupdated %}
        {% if feeditem in user.userpreferences.following_sites.all %}
            <li><a href="{% url 'feed' feeditem.pk %}">{{feeditem}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}