{% extends 'base_generic.html' %}

{% block content %}
<br>
<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="arturl" value="{{url}}">
    <input type="hidden" name="arttitle" value="{{article.title}}">
    <input type="hidden" name="feedid" value="{{id}}">
    <button type="submit" class="btn btn-link" id="addart" name="addart" value="addart">Save Article</button>
</form>
<p><a href="{% url 'feed' id %}">Back to Feed</a></p>

<br>
<h4><strong>{{article.title}}</strong></h4>
<br>

<div class="row">
    <img src="{{article.top_image}}" class="img-fluid, rounded" id="topimage">
</div>
<br>
<br>
<div class="row" id="articletext">
    {{article.text}}
</div>
<br>
<br>

<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="arturl" value="{{url}}">
    <input type="hidden" name="arttitle" value="{{article.title}}">
    <input type="hidden" name="feedid" value="{{id}}">
    <button type="submit" class="btn btn-link" id="addart" name="addart" value="addart">Save Article</button>
</form>
<p><a href="{% url 'feed' id %}">Back to Feed</a></p>

{% endblock %}