asgiref==2.3.2
asn1crypto==0.24.0
astroid==2.2.5
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.7.2
Automat==0.7.0
beautifulsoup4==4.7.1
certifi==2019.6.16
cffi==1.12.3
channels==2.1.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
daphne==2.3.0
Django==2.2.3
feedfinder2==0.0.4
feedparser==5.2.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
jieba3k==0.35.1
lazy-object-proxy==1.4.1
lxml==4.3.4
mccabe==0.6.1
newspaper3k==0.2.8
nltk==3.4.4
Pillow==6.1.0
pycparser==2.19
PyHamcrest==1.9.0
pylint==2.3.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
requests==2.22.0
requests-file==1.4.3
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
tinysegmenter==0.3
tldextract==2.2.1
Twisted==19.7.0
txaio==18.8.1
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.2
zope.interface==4.6.0
